main{
    padding-top: 100px;
    background-color: var(--Blanc);
}
body{
    background-color: var(--Blanc);
}
h1{
    font-size: var(--h1);
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    color: var(--Noir);
    margin: 15px;
}
img{
    width: 100%;
}
.glossaire{
    margin-top: 45px;
}