:root{
--h1: 30px;
--h2: 24px;
--button: 15px;
--b1: 22px;
--b2: 13px;
--caption: 11px;

--Blanc: #F5F5F5;
--Bleuclair: #5EC4E6;
--Bleufoncé: #003366;
--Gris: #D3D3D3;
--Noir: #000000;
--Saumon: #FF6F61
}
