.header{
    z-index: 2000;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Blanc);
}
.site__logo{
    width: 100px;
    height: 100px;
    z-index: 2000;
}
.menu-btn{
    right: 0;
    margin-right: 25px;
}
.dropdown-container {
    right: 0;
    margin-right: 90px;
}