.menu {
    position: fixed; 
    background-color: var(--Blanc); 
    display: flex; 
    top: 0; 
    right: 0; 
    transition: all 0.4s ease-in-out; 
    opacity:0 ; 
    visibility: hidden; 
    z-index: 999;
}
.menu[aria-hidden="false"] {
   visibility: visible; 
   opacity: 1; 
}
.menu__list{
    padding: 15px;
    list-style: none;
}
.noscroll {
    overflow: hidden; 
}
.menu-btn {
    position: fixed; 
    z-index: 3; 
    width: 30px;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
    color: var(--Noir);
    cursor: pointer;
    background: none;
    font-weight: 700;
    font-size: 50px;
  }
.menu-btn[aria-expanded="true"] {
    transform: rotate(
    180deg
    ); 
}
.menu {
    padding-top: 75px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
button{
    border: none;
}
.menu__item{
    list-style: none;
}
.menu__link{
    font-family: "acumin-pro", sans-serif;
    text-decoration: none;
    color: var(--Noir);
    font-size: var(--h2);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    display: flex;
    align-items: flex-start;   
    padding: 25px 0;
    background-image: linear-gradient(120deg, var(--Bleuclair) 0%,var(--Bleuclair) 75%, var(--Saumon) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
}